.level-one-page {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    height: 100%;

    img {
        user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .content-container {
        position: relative;

        .germs-remaining-counter-container {
            position: absolute;
            justify-content: space-between;
            display: flex;
            width: 170px;
            height: 100px;
            top: 10px;
            right: 10px;

            background: rgba(255, 255, 255, 0.9);
            backdrop-filter: blur(4px);

            border-radius: 5px;

            .germ-1, .germ-2, .germ-3 {
                position: absolute;
                width: 35px;
                height: 35px;
                left: 10px;
            }

            .germ-1 {
                top: 12px;
            }

            .germ-2 {
                top: 22px;
                left: 40px;
            }

            .germ-3 {
                bottom: 12px;
                left: 15px;
            }

            .germs-remaining-counter-text {
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                top: 0;
                right: 15px;
                bottom: 10px;

                .count {
                    font-size: 70px;
                    line-height: 70px;
                }

                .remaining {

                }
            }

        }

        .toolbar {
            cursor: auto;

            display: flex;
            justify-content: space-evenly;
            padding: 5px 0;

            position: absolute;
            z-index: 1;
            width: 100%;
            bottom: 0;
            height: 100px;
            background: rgba(255,255,255,0.90);
            backdrop-filter: blur(4px);

            .scanner-container {
                display: flex;
                align-items: center;
                margin: 25px;

                .cooldown-counter {
                    width: 100px;
                    margin-bottom: 10px;
                }

                .scanner-bars-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    height: 100%;
                    padding: 0 4px 0 0;

                    .scanner-bar {
                        height: 33%;
                        width: 8px;
                        border-radius: 5px;
                    }

                    .scanner-bar-3 {
                        background: red;
                    }
                    .scanner-bar-2 {
                        background: yellow;
                    }
                    .scanner-bar-1 {
                        background: green;
                    }
                }

                .scanner-label-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 100px;
                    width: 70px;
                    border-radius: 5px;

                    .label {
                        margin-top: 4px;
                    }

                }

                .scanner-label-container:hover {
                    background: #E2E2E2;
                }

                .scanner {
                    width: 70px;
                    height: 70px;
                }
            }

            .other {
                display: flex;

                .handsoap, .spray, .mask {
                    width: 50px;
                    height: 50px;
                    margin: 0 10px;
                }

                .other-label-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    border-radius: 5px;

                    .label {
                        margin-top: 4px;
                        width: 100px;
                        text-align: center;
                    }

                }

                .other-label-container:hover {
                    background: #E2E2E2;
                }
            }
        }

        .germ {
            position: absolute;
            width: 30px;
            height: 30px;
            background: rgba(0,0,0,0);
            z-index: 1;
        }

        .null-germ {
            @extend .germ;
            width: 45px;
            height: 45px;
        }

        .student {
            display: flex;
            position: absolute;
            height: 200px;
        }

        .students {
            display: flex;
            position: absolute;

            .student {
                display: flex;
                position: absolute;
                height: 225px;
            }

        }

        .background {
            width: 1000px;
        }

    }

}
