.level-one-page {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    height: 100%;

    img {
        user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .content-container {
        position: relative;

        .toolbar {
            cursor: auto;

            display: flex;
            justify-content: space-evenly;
            padding: 5px 0;

            position: absolute;
            z-index: 1;
            width: 100%;
            bottom: 0;
            height: 100px;
            background: rgba(255,255,255,0.90);
            backdrop-filter: blur(4px);

            .scanner-container {
                display: flex;
                align-items: center;
                margin: 25px;

                .cooldown-counter {
                    width: 100px;
                    margin-bottom: 10px;
                }

                .scanner-bars-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    height: 100%;
                    padding: 0 4px 0 0;

                    .scanner-bar {
                        height: 33%;
                        width: 8px;
                    }

                    .scanner-bar-3 {
                        background: red;
                    }
                    .scanner-bar-2 {
                        background: yellow;
                    }
                    .scanner-bar-1 {
                        background: green;
                    }
                }

                .scanner-label-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 100px;
                    width: 70px;

                    .label {
                        margin-top: 4px;
                    }

                }

                .scanner-label-container:hover {
                    background: #C4C4C4;
                }

                .scanner {
                    width: 50px;
                    height: 50px;
                }
            }

            .other {
                display: flex;

                .handsoap, .spray, .mask {
                    width: 50px;
                    height: 50px;
                    margin: 0 10px;
                }

                .other-label-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    .label {
                        margin-top: 4px;
                        width: 100px;
                        text-align: center;
                    }

                }

                .other-label-container:hover {
                    background: #C4C4C4;
                }
            }
        }

        .germ {
            position: absolute;
            width: 30px;
            z-index: 1;
        }

        .student {
            display: flex;
            position: absolute;
            height: 200px;
        }

        .students {
            display: flex;
            position: absolute;

            .student {
                display: flex;
                position: absolute;
                height: 225px;
            }

        }

        .background {
            width: 1000px;
        }

    }

}
